:root {
    --text-shadow: 0.1em 0.1em 0.2em rgba(70, 70, 70, 0.597);
    --box-shadow:  3px 2px 5px rgba(0, 0, 0, 0.309);
    --color-pink: rgba(255,65,149,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: red;
    z-index: 1;
}

.main #canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.main .playerHome {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     /* background-color: blueviolet; */
}

.main .playerHome .like {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* background-color:red; */
    padding: 1rem 1.5rem 0 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .playerHome .like i {
    opacity: 80%;
    font-size: 1.2rem;
    cursor: pointer;
}


.main .playerHome .like-off {
   display: none;
   color: red;
}

.main .playerHome .img {
    width: 130px;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main .playerHome img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.multiple-borders1 {
    border-radius: 50%;
    position: relative;
    /* border: 2px solid #ffffff; */
    width: 100px;
    height: 100px;
    margin: 60px 0px 50px 0px;
    box-shadow: 
      0 0 0 10px rgba(255, 255, 255, 0.9),
      0 0 0 10px rgba(255, 255, 255, 0.7), 
      0 0 0 20px rgba(255, 255, 255, 0.5), 
      0 0 0 30px rgba(255, 255, 255, 0.3),
      0 0 0 45px rgba(255, 255, 255, 0.1);
}

.main .playerHome .description {
    width: 100%;
    margin-bottom: 1rem;
   
    text-align: center;
    color: #fff;

    /* background-color:red; */
    text-shadow: var(--text-shadow);
}

.main .playerHome .description h3 {
    font-size: 1.2rem;
    
}

.main .playerHome .description p {
    font-size: 13px;
    margin-bottom: 30px;
}

.main .playerHome .description .album-content {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main .playerHome .description .album-content .album {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.main .playerHome .description .album p {
    font-size: 12px;
    margin-bottom: 5px;
    text-shadow: var(--text-shadow);
}

.img-album-content {
    position: relative;
    width:90px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.main .playerHome .description .album-content .img-album {
    border-radius: 0;
    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(55, 55, 55);
    padding: 2px 0px 2px 6px;
}

.main .playerHome .description .album-content .album .img-album-content img {
    position: relative;
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
   
}

.main .playerHome .description .album-content .album .img-album-content .cd {
    border-radius: 0;
    position: absolute;
    width: 65px;
    height: 65px;
    z-index: 50;
    right:0;
    /* background-color:red */
}

/* .multiple-borders2 {
    border-radius: 50%;
    position: relative;
   
    box-shadow: 
      0 0 0 2px rgba(255, 255, 255, 0.7), 
      0 0 0 4px rgba(255, 255, 255, 0.5), 
      0 0 0 8px rgba(255, 255, 255, 0.3),
      0 0 0 12px rgba(255, 255, 255, 0.1);
} */

.main .playerHome .barraProgressContent {
    /* background-color: blue; */
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .playerHome .barraProgressContent .barraProgress {
    width: 65%;
    height: 1px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);

    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main .playerHome .barraProgressContent .barraProgress progress {
    width: 0%;
    height: 3px;
    
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: var(--color-pink);
}


.main .playerHome .barraProgressContent .barraProgress .ponto {
    width: 4px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: -4px;
}

.main .playerHome .barraProgressContent .time {
    font-size: 12px;
    margin: 0 .5rem;
    color: #fff;
    /* background-color: rgb(1, 236, 72); */
    text-shadow: var(--text-shadow);
}

.main .playerHome .row {
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.playerContent {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
}

.main .playerHome .playerContent .player {
    width: 100%;
    /* margin-top:2rem; */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    /* background-color: red; */
   
}


.main .playerHome .player .fa-shuffle ,.fa-repeat {
    color: rgba(255, 255, 255, 0.659);
    text-shadow: var(--text-shadow);
}

.main .playerHome .player .icons-player {
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* background-color: blue; */
    width: 35%;
}

.main .playerHome .player .btn-play, .btn-pause {
    text-align: center;
    width: 44px;
    padding: .9rem 0;
    font-size: .9rem;
   
    background-color: var(--color-pink);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.main .playerHome .arrow {
    font-size: 1rem;
    cursor: pointer;
    text-shadow: var(--text-shadow);
}

.main .playerHome .playerContent .btn-repeat-off {
    display: none;
    color: var(--color-pink)
}


.main .playerHome .player .btn-pause  {
   display: none;
}

.modalPlayer {
    top: 0;
    position: absolute;
    width: 100%;
    max-height: auto;
    min-height: 100vh;
    background-color:rgb(255, 255, 255);
    z-index: 200;

    display: none;

    animation: right 1.5s;
}

.modalPlayer .modal-sair {
    width: 100%;
    background: rgb(246,197,202);

    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-size: .9rem;
}


.modalPlayer .modal-sair i {
    font-size: 1.2rem;
    margin-right:3rem;
}

.modalPlayer .music-container {
    width: 100%;
    height: 100%;
    /* background-color:red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.modalPlayer .music-content {
    width: 100%;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5px;
}

.modalPlayer .music-container .music {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalPlayer .music-container .music:nth-child(1) {
    margin-right: 3px;
}

.modalPlayer .music-container .music:nth-child(2) {
    margin-left: 3px;
}

.modalPlayer .music-container .music .img-music {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalPlayer .music-container .music .img-music img {
    filter: brightness(85%);
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.modalPlayer .music-container .music .descriptionMusic {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: rgb(250, 156, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* text-align: center; */
}

.modalPlayer .music-container .music .descriptionMusic h3 {
    font-size: 15px;
}

.modalPlayer .music-container .music .descriptionMusic p {
    font-size: 12px;
}

.modalPlayer .music-container .music i {
    opacity: 70%;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: #fff;
}

@keyframes right {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 770px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .playerHome {
        width: 45%;
        height:85%;

        border-radius: 30px;
        border: 3px solid #fff;
    }
}

