:root {
    --background-linear1: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    --background-linear2: linear-gradient(180deg, rgb(57, 175, 248) 0%, rgb(154, 52, 228) 80%);
    --background-linear3: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    --background-linear4: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);



    /* --text-shadow: 0.1em 0.1em 0.2em rgba(70, 70, 70, 0.597);
    --box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.309); */
    --color-pink: #1981d6;
    --color-blue: #54aef6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}


.main {
    width: 100vw;
    height: 100vh;

}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main .playerHome {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: blueviolet; */

    background: rgba(255, 255, 255, 0.164);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.main .playerHome .like {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    padding: 1rem 1.2rem 0 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .playerHome .like i {
    opacity: 70%;
    cursor: pointer;
}

/* .main .playerHome #modalColors {
    top: 40px;
    right: 11px;
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 500;

    animation: top .6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .playerHome #modalColors lu {
    color: red;
} */
/* 
@keyframes top {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
} */

.main .playerHome .img {
    width: 130px;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main .playerHome img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
}

.gradiente {
    border-radius: 50%;
    position: relative;
    margin: 60px 0px 50px 0px;
    box-shadow:
        0 0 0 8px rgba(255, 255, 255, 0.7),
        0 0 0 18px rgba(255, 255, 255, 0.5),
        0 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 0 43px rgba(255, 255, 255, 0.1);
}

.main .playerHome .description {
    width: 100%;
    margin-bottom: 1rem;

    text-align: center;
    color: #fff;

    /* background-color:red; */
    text-shadow: var(--text-shadow);
}

.main .playerHome .description h3 {
    font-size: 1.2rem;
    height: 30px;
}

.main .playerHome .description p {
    font-size: 13px;
    margin-bottom: 25px;
    height: 20px;
}

.main .playerHome .description .album-content {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .playerHome .description .album-content .album {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .playerHome .description .album p {
    font-size: 12px;
    margin-bottom: 5px;
    text-shadow: var(--text-shadow);
}

.img-album-content {
    position: relative;
    width: 90px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.main .playerHome .description .album-content .img-album {
    border-radius: 0;
    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 55, 55);
    padding: 2px 0px 2px 6px;
}

.main .playerHome .description .album-content .album .img-album-content img {
    position: relative;
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.main .playerHome .description .album-content .album .img-album-content .cd {
    border-radius: 0;
    position: absolute;
    width: 57px;
    height: 58px;
    z-index: 50;
    right: 0;
    /* background-color:rgb(55, 54, 54) */
}

.main .playerHome .barraProgressContent {
    /* background-color: blue; */
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .playerHome .barraProgressContent .barraProgress {
    width: 65%;
    height: 1px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.22);

    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main .playerHome .barraProgressContent .barraProgress progress {
    width: 0%;
    height: 3px;

    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: var(--color-pink);
}


.main .playerHome .barraProgressContent .barraProgress .ponto {
    width: 4px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: -4px;
}

.main .playerHome .barraProgressContent .time {
    font-size: 12px;
    margin: 0 .5rem;
    color: #fff;
    /* background-color: rgb(1, 236, 72); */
    text-shadow: var(--text-shadow);
}

.main .playerHome .row {
    width: 100%;
    height: 2px;
    margin-top: 1rem;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.playerContent {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
}

.main .playerHome .playerContent .player {
    width: 100%;
    /* margin-top:2rem; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    /* background-color: red; */
}

.main .playerHome .player .fa-shuffle,
.fa-repeat {
    color: rgba(255, 255, 255, 0.659);
    text-shadow: var(--text-shadow);
}

.main .playerHome .player .icons-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    width: 35%;
}

.main .playerHome .player .btn-play,
.btn-pause {
    text-align: center;
    width: 44px;
    padding: .9rem 0;
    font-size: .9rem;

    background-color: var(--color-pink);
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: var(--box-shadow); */
}

.main .playerHome .arrow {
    font-size: 1rem;
    cursor: pointer;
    text-shadow: var(--text-shadow);
}

.main .playerHome .player .btn-pause {
    display: none;
}

.modalPlayer {
    top: 0;
    position: absolute;
    width: 100%;
    max-height: auto;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.446);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 200;

    display: none;

    animation: right 1s;
}

.modalPlayer .modal-sair {
    width: 100%;
    background: var(--color-pink);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-size: .9rem;
}


.modalPlayer .modal-sair i {
    font-size: 1.2rem;
    margin-right: 3rem;
}

.modalPlayer .music-container {

    width: 100%;
    height: 100%;
    /* background-color:red; */
    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: column;

}

.modalPlayer .music-content {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

.music-scroll {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}

.modalPlayer .music-container .music {
    width: auto;
    height: 75px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.modalPlayer .music-container .music .img-music {
    width: 100px;
    height: 75px;
    display: flex;
}

.modalPlayer .music-container .music .img-music img {
    filter: brightness(85%);
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}

.modalPlayer .music-container .music .descriptionMusic {
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 5px;
    background: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* text-align: center; */
    transition: all 0.5s;
}

.modalPlayer .music-container .music .descriptionMusic:hover {
    cursor: pointer;
    background: var(--color-pink);
    transition: all 0.5s;
}

.modalPlayer .music-container .music .descriptionMusic h3 {
    font-size: 15px;
}

.modalPlayer .music-container .music .descriptionMusic p {
    font-size: 12px;
}

.modalPlayer .music-container .music i {
    opacity: 70%;
    padding: 10px;
    font-size: 2rem;
    color: #fff;

}

@keyframes right {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

.btn-repeat-on {
    color: var(--color-pink);

}

.btn-repeat-off {
    color: #fff;

}

.music-container li.playing .music .descriptionMusic {
    color: rgb(32, 32, 32);
}

.hide {
    display: none !important;
    background-color: red
}

.visible {
    display: block;
}

.material-icons {
    text-shadow: var(--text-shadow);
    cursor: pointer;
}

/* @media (min-width: 770px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .playerHome {
        width: 45%;
        height: 85%;

        border-radius: 30px;
        border: 3px solid #fff;
    }
} */